---
// This page redirects to the default language
---

<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/ar/" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to Arabic version...</p>
  </body>
</html>
